<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find planar_contour_following)/robot_description/urdf/kinova/use_case_setup_gen3.urdf.xacro'" />
  <!--   <param name="robot_description" textfile="$(find etasl_vision_setup_description)/urdf/etasl_vision_scene.urdf" /> -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find planar_contour_following)/robot_description/environment_config.rviz"/>

</launch>
