<!-- <?xml version="1.0"?> -->
<launch>
  <!-- For KUKA LWR4 robot: -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find planar_contour_following)/robot_description/urdf/lwr/use_case_setup_lwr.urdf.xacro'" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- In case your ROS version is old, replace the 3 commands that are above with the ones that are commented below-->
  <!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find planar_contour_following)/robot_description/urdf/iiwa/use_case_setup_iiwa.urdf.xacro'" /> -->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="true"/>
  </node> -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find planar_contour_following)/robot_description/environment_config.rviz"/>

</launch>
